
body {
  font-family: roboto, sans-serif;
  margin: 0;
}

ul, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

button {
  background-color: #3882F6;
  margin: 10px 0;
  border-radius: 6px;
  color: white;
  padding: 8px 28px;
  border: none;
  font-weight: bold;
  font-size: 16px;
}

#logo-and-links {
  padding-top: 20px;
  background-color: #1F2937;
  display: flex;
  justify-content: space-between;
}

#logo {
  color: #F9FAF8;
  font-size: 24px;
  font-weight: bold;
}

#links {
  color: #E5E7EB;
  list-style-type: none;
  display: flex;
  gap: 30px;
}

#description-and-image {
  padding: 100px;
  display: flex;
  background-color: #1F2937;
  gap: 50px;
}

#description > h1 {
  color: #F9FAF8;
  font-size: 48px;
}

#description > p {
  color: #E5E7EB;
}

#penguin {
  width: 550px;
  height: 250px;
}

#content {
  padding-top: 50px;
  padding-bottom: 100px;
}

#content-header {
  text-align: center;
  font-size: 36px;
  color: #1F2937;
  margin-bottom: 50px;
}

#items {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.item > img {
  width: 150px;
  height: 150px;
  border: 3px solid #3882F6;
  border-radius: 12px;
}

.item > p {
  text-align: center;
  width: 150px;
  color: #666;
}

#quote {
  display: flex;
  padding: 120px;
  background-color: #E5E7EB;
  justify-content: center;
}

#quote p {
  max-width: 770px;
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1F2937;
}

#author {
  font-size: 24px;
  font-weight: bold;
  color: #1F2937;
  text-align: right;
}

#sign-up {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 120px;
}

#card {
  padding: 40px 100px;
  display: flex;
  background-color: #3882F6;
  border-radius: 8px;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

#card > button {
  border: 2px solid white;
}

#card-msg > h3 {
  color: #E5E7EB;
  font-size: 24px;
}

#card-msg > div {
  color: #DDD;
}



#logo-and-links,
#description-and-image,
#content,
#quote,
#sign-up {
  padding-right: 220px;
  padding-left: 220px;
}